header{
    

    h1{
        position: absolute;
        color: white;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 50px;
        text-align: center;
    }

    .arrow{
        position: absolute;
        top: 350px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .header-img{
        width: 100%;
        display: block;
        
     
    }

    .header-lg{
        display: none;
    }
}

@media (min-width: 820px){
    header{
        width: 100vw;

        .header-img{
            display: none;
        }

        .header-lg{
            width: 100%;
            display: block;
        }

        h1{
            top: 200px;
            font-size: 70px;
            
        }

        .arrow{
            top: 450px;
        }
    }
}